name: Obfuscate Engine

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Obfuscate
        run: npm run build:obf

      - name: Commit Obfuscated Engine
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add ops/ffcore.impl.js ops/ffcore.impl.checksum.txt
          git commit -m "Auto-obfuscate engine"
          git push
